@import 'helpers/variables'
@import 'helpers/mixins'

rupture.desktop-cutoff = $desktop
rupture.mobile-cutoff = $mobile

@import 'base/reset'
@import 'base/core'
@import 'base/utilities'

@import '../blocks/header/*'
@import '../blocks/footer/*'
