html, body
	height 100%


body
	min-width $site-width
	
	font-size 16px
	line-height 1.2
	font-family $font-family


h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote
	margin 0
	padding 0


a
	text-decoration none
	
	transition all .2s ease
	
	&:hover
		transition none


.nobr
	white-space nowrap
