// Regular
@font-face
	font-family 'Name'
	src url('../fonts/name/regular.woff2') format('woff2'),
			url('../fonts/name/regular.woff') format('woff')
	font-style normal
	font-weight 400


// Bold
@font-face
	font-family 'Name'
	src url('../fonts/name/bold.woff2') format('woff2'),
			url('../fonts/name/bold.woff') format('woff')
	font-style normal
	font-weight 700