// Regular
@font-face
	font-family 'Open Sans'
	src url('../fonts/open-sans/regular.woff') format('woff')
	font-style normal
	font-weight 400

// Bold
@font-face
	font-family 'Open Sans'
	src url('../fonts/open-sans/bold.woff') format('woff')
	font-style normal
	font-weight 700