include ../../node_modules/bemto.jade/bemto
- set_bemto_settings({ modifier: '--' })

include ../jade-tools/scripts

include ../blocks/header/header
include ../blocks/footer/footer

doctype html
html(lang='ru')
	include ../blocks/head/head
	body
		+header()
		block content
		+footer()
		block scripts
		+scripts(['build.js'])
